services:
  ganache:
    image: trufflesuite/ganache:latest
    ports:
      - "8545:8545"
    command: --wallet.totalAccounts 10 --server.host 0.0.0.0 --wallet.mnemonic "plagiarism detection blockchain project secret key" --database.dbPath /data
    volumes:
      - ganache_data:/data

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - GANACHE_URL=http://ganache:8545
    depends_on:
      - ganache
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true # Use polling for hot reload on Windows
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  ganache_data:
